@charset "UTF-8";
/* 去掉标签的默认的样式 */
body, h1, h2, h3, h4, h5, h6, p, pre, ol, ul, li, form, input, textarea, dl, dt, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background: #FFFFFF;
  background: #f4f4f4;
}

img {
  border: none;
}

* {
  font-family: "微软雅黑","宋体",sans-serif;
  color: #000;
  box-sizing: border-box;
  position: relative;
}

/*内宽*/
/*颜色*/
/*图片路径*/
.gs-show {
  width: 100%;
  height: 100%;
  margin-top: 45px;
  background: #f4f4f4;
}

.gs-showcen {
  width: 1200px;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.gs-showleft {
  width: 910px;
  float: left;
  /*潜意识*/
  /*企业介绍*/
  /*详细评论*/
}

.gs-showleft .gs-showtop {
  width: 750px;
  height: 313px;
  border-top: 2px solid #10c8f0;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 30px 0px 0px 20px;
}

.gs-showleft .gs-showtop .gs-logo {
  float: left;
}

.gs-showleft .gs-showtop .gs-biao p:nth-of-type(1) {
  float: left;
  font-size: 30px;
  margin-left: 15px;
}

.gs-showleft .gs-showtop .gs-biao p:nth-of-type(1) img {
  position: absolute;
  left: 100px;
  bottom: 0px;
}

.gs-showleft .gs-showtop .gs-biao p:nth-of-type(2) {
  position: absolute;
  left: 105px;
  top: 50px;
  font-size: 20px;
  font-weight: 500;
}

.gs-showleft .gs-showtop ul {
  width: 100%;
  margin-top: 105px;
}

.gs-showleft .gs-showtop ul li {
  height: 25px;
  width: auto;
}

.gs-showleft .gs-showtop ul li div {
  font-size: 14px;
  font-weight: 600px;
  float: left;
  border: 1px solid #efefef;
  padding-right: 5px;
  border-radius: 3px;
}

.gs-showleft .gs-showtop ul li div i {
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
}

.gs-showleft .gs-showtop ul li div .gs-1 {
  background: url(../img/xiangqing1_03.png);
}

.gs-showleft .gs-showtop ul li div .gs-2 {
  background: url(../img/xiangqing1_03.png) -1px -28px;
}

.gs-showleft .gs-showtop ul li div .gs-3 {
  background: url(../img/xiangqing1_03.png) -2px -50px;
}

.gs-showleft .gs-showtop ul li div .gs-4 {
  background: url(../img/xiangqing1_03.png) -2px -78px;
}

.gs-showleft .gs-showtop ul li span {
  float: left;
  font-size: 14px;
  margin-left: 15px;
}

.gs-showleft .gs-showtop .gs-zi {
  width: 95px;
  height: 40px;
  position: absolute;
  top: 45px;
  right: 85px;
}

.gs-showleft .gs-showtop .gs-showtoptu {
  position: absolute;
  bottom: -10px;
  right: -120px;
}

.gs-showleft .gs-showtop .gs-xu {
  height: 50px;
  width: 485px;
  position: absolute;
  left: 20px;
  bottom: -25px;
}

.gs-showleft .gs-showtop .gs-xu .gs-xuleft {
  height: 48px;
  width: 313px;
  border: 1px solid #f5f5f5;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  float: left;
  margin-right: 5px;
  background: #fff;
  cursor: pointer;
}

.gs-showleft .gs-showtop .gs-xu .gs-xuleft div {
  width: 88px;
  height: 85px;
  background: url(../img/xiangqing3_03.png);
  position: absolute;
  left: 20px;
  top: -17px;
  cursor: pointer;
}

.gs-showleft .gs-showtop .gs-xu .gs-xuleft span:nth-of-type(1) {
  margin-left: 130px;
  font-size: 20px;
  font-weight: 500;
  line-height: 45px;
  cursor: pointer;
}

.gs-showleft .gs-showtop .gs-xu .gs-xuleft span:nth-of-type(2) {
  font-size: 14px;
  line-height: 45px;
  color: #bfbfbf;
}

.gs-showleft .gs-showtop .gs-xu .gs-xuright {
  height: 48px;
  width: 163px;
  border: 1px solid #f5f5f5;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  float: left;
  background: #5bdb9d;
  line-height: 45px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.gs-showleft .gs-hezi {
  width: 870px;
  height: 54px;
  border-bottom: 1px solid #b5b5b5;
}

.gs-showleft .gs-showmiddle {
  margin-top: 35px;
  widows: 870px;
  height: auto;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.gs-showleft .gs-showmiddle ul {
  widows: 100%;
  height: auto;
  border-radius: 5px;
}

.gs-showleft .gs-showmiddle li {
  width: 870px;
  padding: 30px 20px 30px 20px;
  background: #fff;
  border-bottom: 1px solid #e1e1e1;
  float: left;
}

.gs-showleft .gs-showmiddle li p {
  padding-left: 30px;
  font-size: 14px;
  color: #888787;
  line-height: 22px;
}

.gs-showleft .gs-showmiddle li p:nth-of-type(1) {
  margin-top: 20px;
}

.gs-showleft .gs-showmiddle li:nth-of-type(2) p:nth-of-type(5) {
  margin-top: 20px;
}

.gs-showleft .gs-showmiddle li:nth-of-type(2) p:nth-of-type(6) {
  margin-top: 20px;
  margin-bottom: 20px;
}

.gs-showleft .gs-showmiddle li:nth-of-type(2) .gs-img1 {
  margin-left: 30px;
  width: 250px;
  height: 375px;
  margin-right: 10px;
  float: left;
  margin-bottom: 20px;
  background: url(../img/gsshow/img-qqjs2.png);
}

.gs-showleft .gs-showmiddle li:nth-of-type(2) .gs-img2 {
  width: 540px;
  height: 375px;
  background: red;
  float: right;
  margin-bottom: 20px;
  background: url(../img/gsshow/img-qqjs1.png);
}

.gs-showleft .gs-showmiddle li:nth-of-type(3) p {
  margin-bottom: 20px;
}

.gs-showleft .gs-showmiddle li:nth-of-type(3) a {
  font-size: 16px;
  color: #3ba0f4;
  text-decoration: underline;
}

.gs-showleft .gs-showbot {
  width: 910px;
  height: auto;
  float: left;
}

.gs-showleft .gs-showbot .gs-xxpl {
  margin-top: 90px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.gs-showleft .gs-showbot ul {
  width: 100%;
  height: 100%;
}

.gs-showleft .gs-showbot ul li {
  width: 890px;
  height: 179px;
  border-top: 1px solid #b5b5b5;
}

.gs-showleft .gs-showbot ul li .gs-showfloor {
  width: 27px;
  height: 27px;
  position: absolute;
  right: 20px;
  top: -13px;
  background: #f4f4f4;
  font-size: 14px;
  color: #155c85;
  text-align: center;
  line-height: 27px;
}

.gs-showleft .gs-showbot ul li .gs-showbotli {
  padding: 30px 25px 65px 20px;
  width: 890px;
  height: 179px;
}

.gs-showleft .gs-showbot ul li .gs-showbotli .gs-showblleft {
  width: 245px;
  height: 84px;
  float: left;
}

.gs-showleft .gs-showbot ul li .gs-showbotli .gs-showblleft img {
  float: left;
}

.gs-showleft .gs-showbot ul li .gs-showbotli .gs-showblleft .gs-showming {
  float: left;
  height: 84px;
}

.gs-showleft .gs-showbot ul li .gs-showbotli .gs-showblleft .gs-showming p {
  margin-left: 8px;
}

.gs-showleft .gs-showbot ul li .gs-showbotli .gs-showblleft .gs-showming p:nth-of-type(1) {
  font-size: 18px;
  font-weight: 600px;
  color: #58415b;
}

.gs-showleft .gs-showbot ul li .gs-showbotli .gs-showblleft .gs-showming p:nth-of-type(2) {
  font-size: 14px;
  margin-top: 5px;
  color: #58415b;
}

.gs-showleft .gs-showbot ul li .gs-showbotli .gs-showblleft .gs-showming p:nth-of-type(2) span {
  padding: 3px 4px;
  background: #fff;
  margin-right: 5px;
  border: 1px solid #eee;
  border-radius: 1px;
}

.gs-showleft .gs-showbot ul li .gs-showbotli .gs-showblleft .gs-showming p:nth-of-type(3) {
  font-size: 14px;
  position: absolute;
  bottom: 0;
  color: #58415b;
}

.gs-showleft .gs-showbot ul li .gs-showbotli .gs-showblrig {
  width: 565px;
  height: 84px;
  float: right;
}

.gs-showleft .gs-showbot ul li .gs-showbotli .gs-showblrig p:nth-of-type(1) {
  font-size: 14px;
  color: #a09f9f;
}

.gs-showleft .gs-showbot ul li .gs-showbotli .gs-showblrig p:nth-of-type(2) {
  font-size: 14px;
  position: absolute;
  bottom: 0;
  color: #a09f9f;
  display: block;
  width: 170px;
}

.gs-showleft .gs-showbot ul li .gs-showbotli .gs-showblrig p:nth-of-type(2) span {
  color: #a09f9f;
  position: absolute;
  left: 20px;
  top: -17px;
}

.gs-showleft .gs-showbot ul li .gs-showbotli .gs-showblrig p:nth-of-type(2) img {
  position: absolute;
  bottom: 1px;
}

.gs-showleft .gs-showbot ul li .gs-showbotli .gs-showblrig p:nth-of-type(3) {
  font-size: 14px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #a09f9f;
  display: block;
  width: 170px;
}

.gs-showleft .gs-showbot ul li .gs-showbotli .gs-showblrig p:nth-of-type(3) span {
  color: #a09f9f;
  position: absolute;
  left: -70px;
  bottom: 3px;
}

.gs-showleft .gs-showbot .gs-gduo {
  position: absolute;
  left: 345px;
  bottom: -250px;
  margin-bottom: 160px;
  cursor: pointer;
}

/*右侧信息*/
.gs-showright {
  width: 240px;
  float: right;
}

.gs-showright .gs-showtrighttop {
  width: 35px;
  height: 35px;
  background: url(../img/gsshow/x_03.png) 0px 2px;
  position: absolute;
  right: -15px;
  top: 10px;
}

.gs-showright .gs-showtrightbot {
  width: 35px;
  height: 25px;
  background: url(../img/gsshow/x_41.png) -7px 0px;
  position: absolute;
  left: -15px;
  bottom: 25px;
}

.gs-showright ul {
  height: auto;
  width: 100%;
}

.gs-showright ul li {
  width: 240px;
  height: 90px;
  padding: 15px 15px 15px 25px;
  margin-bottom: 10px;
  float: left;
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.gs-showright ul li p:nth-of-type(1) {
  font-family: "微软雅黑";
  font-size: 20px;
  color: #3f3e3e;
}

.gs-showright ul li p:nth-of-type(2) {
  font-size: 14px;
  color: #888787;
  line-height: 46px;
}

.gs-showright ul li span {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 20px;
  color: #f10000;
}

.gs-showright ul li i {
  position: absolute;
  left: -25px;
  bottom: -3px;
}
